 /* Display Classes */

 .top, .bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.top {top: 0}
.bottom {bottom: 0}

.center {text-align: center !important}
.float-center {float: none;margin: auto;}
.float-left {float: left !important}
.float-right {float: right !important}


